body {
    font-family: 'Cabin', sans-serif;
    font-size: 20px;
    margin: 0px;
    padding: 0px;
}

#bg-video {
    height: 80vh;
    width: 100%;
    object-fit: fill;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -1;
    filter: blur(5px);
    filter: brightness(80%);
}
.aga5 {
    margin-top: 25vh; 
    font-size: 30px;
}

.aga4 { 
    font-size: 3em; 
}

.texto {
    padding: 5px 10px;
    text-align: justify;
}

.justalign {
    text-align: center;
}

.containeran { /* * Flex Box */
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
}

.item { /* * Flex Box */
    padding: 5px;
    margin: 5px 10px 5px 10px;
} 

.index1 { /* * Flex Box */
    width: 60%;
    margin-left: 2%;
    text-align: justify;
}

.index2 { /* * Flex Box */
    width: 40%;
    margin-right: 2%;
}           

#linha-baleia {
    height: 10px;
    border-color: black;
    background-color: black;
    margin-top: 28vh;
}

.pokemons {
    display: flex;
    justify-content: space-between;
}

@media screen and (max-width: 1024px) {
    .containeran {
        display: block;
    }

    .index1 {
        width: 90%;
        text-align: justify;
    }
    
    .index2 {
        width: 100%;
        text-align: center;
    }

    .pokemons {
        display: block;
        text-align: center;
    }

    .img {
        width: 90%;
    }

    .aga5 {
        margin-top: 10vh;
    }

    .content {
        margin-top: 10vh;
      }

    #bg-video {
        height: 60vh;
      }
}

/* @media (min-width: 1200px) {

    .aga5 {
        margin-top: 15vh;
    }

    .content {
        margin-top: 40vh;
      }

    #bg-video {
        height: 70vh;
      }
} */
