@import url('https://fonts.googleapis.com/css2?family=Cabin&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Cabin', sans-serif;
}

.containercard {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-wrap: wrap;
}

.card {
    height: 400px;
    margin: 30px;
    box-shadow: 5px 5px 20px black;
}

.img {
    height: 400px;
    width: 350px;
    border-radius: 3px;
    transition: .5s;
}

.intro {
    height: 120px;
    width: 350px;
    padding: 6px;
    box-sizing: border-box;
    position: absolute;
    background: rgb(27, 27, 27, .5);
    color: white;
    transition: .5s;
}

.titulo-card {
    margin: 10px;
    font-size: 40px;
}

.card:hover{
    cursor: pointer;
}

.card:hover .intro{
    background: black;
}

.card:hover .img{
    transform: scale(1.1) rotateY(3deg);
}

#background-video {
    height: 80vh;
    width: 100vw;
    object-fit: fill;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -1;
    filter: blur(5px);
    filter: brightness(50%);
}

.aga3, .aga2, .meta {
    color: white;
    font-family: Trebuchet MS;
    font-weight: bold;
    text-align: center;
}

#linha-div {
    height: 10px;
    border-color: black;
    background-color: black;
    margin-top: 32.5vh;
}

.aga3 {
    margin-top: 25vh; 
}

.aga2 { 
    font-size: 3rem; 
}

.meta{
  font-style: italic;
}

.content{  
    padding-left: 5%; 
    padding-top: 4%; 
    padding-right: 5%;
    text-align: justify;
    font-size: 20px;
  }


