* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Lato', sans-serif;
}

.index {
    max-height: 100vh;
    background-color: #061219;
}

.outwrapper {
    display: grid;
    border-color: white;
    align-items: center;
    justify-content: center;
}

.wrapper {
    display: inline-flex;
    margin-top: 20vh;
    margin-bottom: 200px;
}

.dynamic-txt {
    margin-top: -10px;
}

.wrapper .static-txt {
    color: #fff;
    font-size: 60px;
    font-weight: 400;
}

.wrapper .dynamic-txt {
    margin-left: 15px;
    line-height: 90px;
    height: 90px;
    overflow: hidden;
}

@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DynaPuff&display=swap');

.dynamic-txt li{
    list-style: none;
    color: #16f37d;
    font-size: 60px;
    font-weight: 500;
    position: relative;
    top: 0;
    animation: slide 8s steps(4) infinite;
}

@keyframes slide {
    100% {
        top: -360px;
    }
}

.dynamic-txt li span {
    position: relative;
}

.dynamic-txt li span::after {
    content: "";
    position: absolute;
    left: 0;
    height: 100%;
    width: 100%;
    background: #061219;
    border-left: 2px solid #16f17d;
    animation: typing 2s steps(15) infinite;
}

@keyframes typing {
    40%, 60% {
        left: calc(100% + 5px);
    }
    100% {
        left: 0;
    }
}

.arrastar {
    text-align: center;
    filter:invert(100%);
    font-weight: bold;
}

.arrastar {
    max-width: 100%;
    transform: translateY(0px);
    animation: float 5s ease-in-out infinite;
}

@keyframes float {
    0% {
        transform: translateY(0px);
    }
    50% {
        transform: translateY(-30px);
    }
    100% {
        transform: translateY(0px);
    }
}

#top1 {
    background-image: linear-gradient(to top, #3694ca, #41b9ff );
    min-height: 100vh;
    max-height: 100vh;
    color: white;
}

#top2 {
    background-image: linear-gradient(to top, #205e81, #3694ca );
    min-height: 100vh;
    max-height: 100vh;
    color: white;
}

#top3 {
    background-image: linear-gradient(to top, #113144, #205e81 );
    min-height: 100vh;
    max-height: 100vh;
    color: white;
}

#top4 {
    background-image: linear-gradient(to top, #0b212e, #113144 );
    min-height: 100vh;
    max-height: 100vh;
    color: white;
}

.index-button {
    text-align: center;
}

.button-23 {
    background-color: #bdbdbd;
    border: 1px solid #222222;
    border-radius: 8px;
    box-sizing: border-box;
    color: #222222;
    cursor: pointer;
    display: inline-block;
    font-family: Circular,-apple-system,BlinkMacSystemFont,Roboto,"Helvetica Neue",sans-serif;
    font-size: 16px;
    font-weight: 600;
    line-height: 20px;
    margin: 0;
    outline: none;
    padding: 13px 23px;
    position: relative;
    text-align: center;
    text-decoration: none;
    touch-action: manipulation;
    transition: box-shadow .2s,-ms-transform .1s,-webkit-transform .1s,transform .1s;
    user-select: none;
    -webkit-user-select: none;
    width: auto;
  }

  .button-23:hover {
    background-color: #061219;
    color: white;
    transition: 3s;
    border-color: white;
  }
  
  .button-23:active {
    transform: scale(.96);
  }
  
  .teste {
    text-align: center;
    color: white;
    font-size: 20px;
    font-weight: 500;
    font-family: 'DynaPuff', cursive;
    padding-left: 15%;
    padding-right: 15%;
    margin-top: 10vh;
  }