* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.containercard {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-wrap: wrap;
}

.card {
    height: 500px;
    margin: 10px;
    box-shadow: 5px 5px 20px black;
}

.img {
    height: 500px;
    width: 350px;
    border-radius: 3px;
}

.intro {
    height: 200px;
    width: 350px;
    padding: 6px;
    box-sizing: border-box;
    position: absolute;
    background: rgb(27, 27, 27, .5);
    color: white;
}

.titulo-card {
    margin: 10px;
    font-size: 40px;
}

.texto-card {
    font: 20px;
    margin: 20px;
}

* {
    margin: 0;
    padding: 0;
}

#background-video {
    height: 80vh;
    width: 100vw;
    object-fit: fill;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -1;
    filter: blur(5px);
    filter: brightness(50%);
}

.aga3, .aga2, .meta {
    color: white;
    font-family: Trebuchet MS;
    font-weight: bold;
    text-align: center;
}

#linha-div {
    height: 10px;
    border-color: black;
    background-color: black;
    margin-top: 34vh;
}

.aga3 {
    margin-top: 30vh; 
}

.aga2 { 
    font-size: 3rem; 
}

.meta{
  font-style: italic;
}

.content{  
    padding:5% 10%;
    text-align: justify;
  }


