#top1 {
    background-image: linear-gradient(to top, #3694ca, #41b9ff );
    min-height: 100vh;
    max-height: 100vh;
    color: white;
}

#top2 {
    background-image: linear-gradient(to top, #205e81, #3694ca );
    min-height: 100vh;
    max-height: 100vh;
    color: white;
}

#top3 {
    background-image: linear-gradient(to top, #113144, #205e81 );
    min-height: 100vh;
    max-height: 100vh;
    color: white;
}

#top4 {
    background-image: linear-gradient(to top, #0b212e, #113144 );
    min-height: 100vh;
    max-height: 100vh;
    color: white;
}

#top5 {
    background-image: linear-gradient(to top, #0b212e, #113144 );
    min-height: 100vh;
    max-height: 100vh;
    color: white;
}

#top6 {
    background-image: linear-gradient(to top, #0b212e, #113144 );
    min-height: 100vh;
    max-height: 100vh;
    color: white;
}

#top7 {
    background-image: linear-gradient(to top, #0b212e, #113144 );
    min-height: 100vh;
    max-height: 100vh;
    color: white;
}
#top8 {
    background-image: linear-gradient(to top, #0b212e, #113144 );
    min-height: 100vh;
    max-height: 100vh;
    color: white;
}
#top9 {
    background-image: linear-gradient(to top, #0b212e, #113144 );
    min-height: 100vh;
    max-height: 100vh;
    color: white;
}
#top10 {
    background-image: linear-gradient(to top, #0b212e, #113144 );
    min-height: 100vh;
    max-height: 100vh;
    color: white;
}
#top11 {
    background-image: linear-gradient(to top, #0b212e, #113144 );
    min-height: 100vh;
    max-height: 100vh;
    color: white;
}
#top12 {
    background-image: linear-gradient(to top, #0b212e, #113144 );
    min-height: 100vh;
    max-height: 100vh;
    color: white;
}
#top13 {
    background-image: linear-gradient(to top, #0b212e, #113144 );
    min-height: 100vh;
    max-height: 100vh;
    color: white;
}
#top14 {
    background-image: linear-gradient(to top, #27719c, #2876a3 );
    min-height: 100vh;
    max-height: 100vh;
    color: white;
}
#top15 {
    background-image: linear-gradient(to top, #1a4a66, #27719c );
    min-height: 100vh;
    max-height: 100vh;
    color: white;
}
#top16 {
    background-image: linear-gradient(to top, #113144, #1a4a66 );
    min-height: 100vh;
    max-height: 100vh;
    color: white;
}
#top17 {
    background-image: linear-gradient(to top, #0b212e, #113144 );
    min-height: 100vh;
    max-height: 100vh;
    color: white;
}

.secao {
    position: relative;
}

.icone-scroll {
    position: absolute;
    top: 3em;
    width: 50px;
    height: 50px;
    background-color: #1a1a1a;
    border-radius: 50%;
    left: 50%;
    margin-left: -25px;
    cursor: pointer;
  }

  .scroll {
    width: 15px;
    height: 15px;
    border-left: 2px solid #fff;
    border-top: 2px solid #fff;
    display: inline-block;
    position: relative;
  }
  .scroll-next {
    transform: rotate(45deg);
    margin: 17px 0 0 16.5px;
  }

